#appBg{
    height: 420px;
    width: 300px;
    border: 1px;solid background-color;
    border: radius 5px;

    
}

#appBg form{
 height: 100%;
 width: 100%;
 background-color: black;

}



#app input[type=texfield]
width 100% 



}


